* {
	margin: 0;
	padding: 0;
	}

body {
	background-image: url("../img/background-orange.png");
	background-size: cover;
  margin: 0;
	padding: 0;
}

aside {
  position: fixed;
  width: 15%;
  height: 100%;

}

main {
	position: absolute;
  margin-left: 15%;
	height: 100%;
	width: 85%;
	overflow: hidden;
}

h1 {
	font-weight: bold;
	font-size: 3em;
	font-family: monospace;
	margin-top: 3%;
	margin-left: 5%;
}

section {
	position: absolute;
	width: 100%;
	height: 100%;
}

#status, #tasks, #bots {
	background: rgba(66, 66, 66, 0.5);
}

#status-overview {
	position: absolute;
	margin-top: 5%;
	margin-left: 5%;
	width: 90%;
  border-collapse: collapse;
}

/* Konfiguration Tabelle */
td, th {
  border: 1px solid #ef6c00;
  padding: 10px;
  text-align: left;
}

tr {
	background-color: #eeeeee;
	transition: background-color;
	transition: 500ms;
	transition-timing-function: ease-out;
}

tr:hover {
	background-color: #ff9800;
}

/* Menu Buttons der Sidebar mit Transition */
.menuButtonAside {
	position: relative;
	display: block;
	border-radius: 10px;
	transition-property: background-color, color;
	transition-duration: 500ms;
	transition-timing-function: ease-out;
	text-align: center;
	background-color: #eeeeee;
	color: #000000;
	font-family: sans-serif;
	font-size: 22px;
	text-decoration: none;
	box-shadow: 3px 3px 2px black;
	top: 100px;
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
	border: solid 3px #ef6c00;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menuButtonAside:hover {
  position: relative;
  transition-property: background-color, color;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  background-color: #ff9800;
  color: #000000;
  box-shadow: 3px 3px 2px black;
}

.menuButtonAside:active {
	position: relative;
	transition-duration: 100ms;
	color: #ffffff;
}

.menuButtonAside.clicked {
	transition-duration: 500ms;
	transition-timing-function: ease-out;
}

/* switch sections */
.switchPanel{
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: -150%;
	position: absolute;
	-webkit-transition: all 700ms ease-in-out;
	-moz-transition: all 700ms ease-in-out;
	-o-transition: all 700ms ease-in-out;
	transition: all 700ms ease-in-out;
}

.switchPanel:target {
	margin-top: 0%;
}
