* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	}

body {
	background-image: url("../img/background-orange.png");
	background-size: cover;
  margin: 0;
	padding: 0;
}

aside {
  position: fixed;
  height: 100%;
  width: 15%;
}

menu {
	margin-top: 30%;
}

main {
	position: absolute;
  margin-left: 15%;
	height: 100%;
	width: 85%;
	overflow: hidden;
}

h1 {
	font-size: 2em;
	margin-top: 3%;
}

h2 {
	font-size: 1.5em;
	margin-top: 5%;
	text-align: center;
}

section {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-left: 5%;
}

#status, #tasks, #bots {
	background: rgba(77, 77, 77, 0.5);
}

#status-overview, #tasks-overview {
	position: absolute;
	margin-top: 3%;
	width: 80%;
  border-collapse: collapse;
}

.taskElements {
	margin: 3% auto auto 0;
}

/* Konfiguration Tabelle */
td, th {
	max-width: 200px;
  border: 1px solid #ef6c00;
  padding: 10px;
  text-align: left;
}

tr {
	background-color: #eeeeee;
	-webkit-transition: background-color 500ms ease-out;
	-moz-transition: background-color 500ms ease-out;
	-o-transition: background-color 500ms ease-out;
	transition: background-color 500ms ease-out;
}

tr:hover {
	background-color: #ff9800;
}

/* Menu Buttons der Sidebar mit Transition */
.menuButtonAside {
	display: block;
	border-radius: 10px;
	text-align: center;
	background-color: #eeeeee;
	color: #000000;
	font-family: sans-serif;
	font-size: 22px;
	text-decoration: none;
	box-shadow: 3px 3px 2px black;
	top: 100px;
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
	border: solid 3px #ef6c00;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.menuButtonAside:hover {
  background-color: #ff9800;
  color: #000000;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.menuButtonAside:active {
	color: #ffffff;
	-webkit-transition: all 100ms;
	-moz-transition: all 100ms;
	-o-transition: all 100ms;
	transition: all 100ms;
}

.menuButtonAside.clicked {
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

/* switch sections */
.switchPanel{
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: -150%;
	position: absolute;
	-webkit-transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-moz-transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-o-transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.switchPanel:target {
	margin-top: 0%;
}
